.hero {
    background: url("/img/backgrounds/home_background.png") center / cover;
    background-attachment: fixed;
    max-width: 100%;
    min-height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    margin: 1em auto;
}