.button {
    background-color: $primary-purple;
    border: $white solid 0.05em;
    color: $white;
    font-size: 1.4em;
    margin: 0.4em;
}

.button:hover {
    background-color: $white-20;
    border: $white solid 0.05em;
    color: $primary-purple;
    box-shadow: 0 0 0 1px $primary-purple;
}

.button.is-active, .button:active, .button.is-focused, .button:focus {
  border-color: $primary-purple;
  color: $white;
}

.yp .button {
  width: 60%;
}

.hp .button {
  width: 90%;
}

.helpBtn {
  display: inline-flex;
  background-color: $white-20;
  color: $primary-purple;
  border: $primary-purple solid 0.05em;
}

.helpBtn:hover {
  color: $white;
  border: $white solid 0.05em;
  box-shadow: 0 0 0 1px $white;
}

// Fix this stuff!
  .user {
    color: $primary-purple;
    align-self: center;
    font-size: 1.2em;
  }
  
  // ul {
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   display: inline-block; 
  // }
  
  .link {  
    margin: 0 auto;
    cursor: pointer;
  }