* {
  box-sizing: border-box;
  // border: 0.5px solid red;
}

.consent {
  background: rgba(208, 205, 148, 0.473);
  box-shadow: 5px 8px 18px #888888;
  border-radius: 5px;
  // padding: 10 10 10 10;
}

.consent h1 {
  color:#32292F;
  font-family: $itim;
  font-size: 5vw;
  padding: 5 2 10 2;
}

.consent p {
  padding: 20 10 10 10;
  font-family: $pt;
}

.consent h3 {
  // padding: 10 10 10 10;
  margin: 10 10 10 10;
  font-weight: bold;
}

.consent .button {
  background-color: #6A5BA3;
  border: none;
  text-align: center;
  width: 120px;
  padding: 5 5 5 5;
  border-radius: 2px;
  font-weight: bold;
}

.consent-form{
  background-color: #EEEA29;
  padding: 15;
}