* {
  box-sizing: border-box;
  // border: 0.5px solid red;
}

.consent {
  background: $white-20;
  box-shadow: 5px 8px 18px #888888;
  border-radius: 2%;
}

.consent p {
  color: $primary-purple;
  margin: 6% auto;
  font-size: 2em;

}

.consent p div{
  margin-top: 4%;
  font-weight: 800;
}

.consent img {
  margin-top: 6%;
}

.consent h1 {
  background-color: $primary-blue;
}

.consent h3 {
  margin-bottom: 4%;
  font-size: 2.5em;

}

.consent .button {
  width: 120px;
  margin: 0 6%;
}

.consent-form{
  background-color: $primary-blue;
  padding: 4%;
}
