* {
  box-sizing: border-box;
  // border: 0.5px solid red;
}

.consent {
  background: $white-20;
  box-shadow: 5px 8px 18px #888888;
  border-radius: $border-radius;
}

.consent p {
  color: $primary-purple;
  margin: 6% auto;
  // font-size: 2em;

}

.consent p div{
  margin-top: 4%;
  font-weight: 800;
}

.consent img {
  margin-top: 6%;
}

.consent h3 {
  margin-bottom: 4%;
  font-size: 2.5em;

}

.consent .button {
  width: 120px;
  margin: 0 6%;
}

.consent-form{
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  background-color: $primary-blue;
  padding: 4%;
}

.modalHead {
  background-color: $primary-blue;
  height: 6em; 
}

.modalFoot {
  text-align: center;
  background-color: $primary-blue;
}

#consentModalTitle {
  font-size: 4em;
  color: $white;
}

.modalBody {
  background-color: $primary-yellow; 
  height: 15em;
  padding: 0;
}

.modalBackground {
  margin: 0;
  width: 100%;
  height: 15em;
  background-color: $white-20;
}

.modal p {
  margin: 0;
}
