.currentContainer {
  display: inline-flex;
  width: 100%;
}

.currentList {
  width: 30%;
  margin: auto;  
}

.listBox {
  background-color: rgba(200, 200, 0, 0.5);
}

.current h3 {
  font-size: 1.5em;
}

