* {
  box-sizing: border-box;
  // border: 0.5px solid red;
}

.details {
  background: rgba(208, 205, 148, 0.473);
  box-shadow: 5px 8px 18px #888888;
  border-radius: 5px;
  padding: 20px;
  font-size: 1.5em

  h1 {
    color: $primary-purple;
    font-family: $itim;
    font-size: 5vw;
    padding: 5 2 5 2;
  }


  .textDetails {
    text-align: left;
  }

  .radioDetails {
    position: relative;
    width: 100%;
    text-align: left;
    margin: 5 0 10 0;
    padding: 0 0 0 5;
  }

  .radioOtherInput{
    display: block;
  }

  label {
    display: block;
  }

  form{
    padding: 2em;
    max-width: 80%;
    margin: auto;
    font-size: 1.5em;

    input{
      margin-left: 1em;
    }
  }

  .radioDetailsInput {
    padding: 0 5 0 10;
  }


}

// .details .button {
//   background-color: $primary-purple;
//   border: none;
//   text-align: center;
//   width: 120px;
//   padding: 5 5 5 5;
//   border-radius: 2px;
//   font-weight: bold;
// }