 /* Style buttons */
 .ebtn {
    background-color: Transparent; /* Blue background */
    border: none; /* Remove borders */
    color: $white; /* White text */
    padding: 20px 20px; /* Some padding */
    font-size: 64px; /* Set a font size */
    border-radius: $border-radius;
    cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.ebtn:hover {
    background-color: $white-20;
}

.ebtn:focus {
    outline: none;
  }

.ebtnPressed {
    background-color: $white-80;/* Purple background */
    border: none; /* Remove borders */
    color: $primary-purple; /* White text */
    padding: 20px 20px; /* Some padding */
    font-size: 64px; /* Set a font size */
    border-radius: $border-radius;
    cursor: pointer; /* Mouse pointer on hover */
}
.ebtnPressed:focus {
    outline: none;
  }

.emojiStyle {
    color: $primary-purple;
}