* {
  box-sizing: border-box;
  // border: 0.5px solid red;
}

.login {
vertical-align: top;
width: 100%;
margin: 0 0 200 0;
background: $white-20;
box-shadow: 5px 8px 18px #888888;
border-radius: $border-radius;
}

.loginInput {
  background: $primary-blue;
  border-radius: $border-radius;
}

.loginLabel {
padding: 0 0 0 20;
}

h2 {
  font-size: 25px;
  padding: 5 5 5 5;
}

