.nav {
    text-align: center;
    width: 90%;
    margin: 1em auto;
    padding: 1em;
}

.navbar-end {
    display: flex;
    justify-content: space-between;
}

.logo {
    max-height: 8em;
    max-width: auto;
}