input {
    border-radius: 20px;
    border: transparent solid 1px;
    padding: 10px;
    background-color:$white-80;
    margin: 10px auto 2px auto;
    font-size: 1.3em;
}

.fa-plus{
    vertical-align: bottom;
    margin-left: 10px;
    font-size: 2.5em;
}

.fa-plus:hover {
    color: $primary-purple;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
}

.textinput {
    border-radius: 20px;
    border: transparent solid 1px;
    background-color:$white-80;
    font-size: 1.3em;
  }
  
  .textinput:focus {
    outline: none;
  }