.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $white-80;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200%;
  background-color: $white-80;
  color: $primary-purple;
  text-align: center;
  border-radius: 20px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  font-size: 0.5em;
}

.tooltipQuestion {
  display: inline-flex;
}

.tooltipSection {
  margin-right: 0.25em;
}